.btn {
    margin: 0;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 8px;
    min-width: 160px;
    height: 40px;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.15s box-shadow;
}

.btn--primary:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn--primary:active {
    box-shadow: none;
}


.btn--secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.15s background-color;
}
.btn--secondary:hover{
    background-color: var(--quaternary-color);
}

.btn--md{
    height: 32px;
}

.icon-only.btn {
    min-width: initial;
    border-radius: 50%;
    width: 40px;
}

.icon-only.btn--md{
    width: 32px;
}

.icon-left.btn svg {
    margin-right: 8px;
}

.icon-right.btn svg {
    margin-left: 8px;
}

.btn svg {
    width: 24px;
    height: 24px;
}
.btn--md svg{
    width: 16px;
    height: 16px;
}