.tableWrapper {
    width: 100%;
}

.table {
    width: 100%;
    table-layout: fixed;
    height: auto;
}

.table,
.table th,
.table td {
    border: none;
    font-size: 14px;
}

.table th,
.table td {
    padding: 16px;
    text-align: center;
    position: relative;
}

.table th+th {
    border-left: 1px solid var(--secondary-color);
}

.table td+td {
    border-left: 1px solid var(--secondary-color);
}


.table th:first-child {
    border-radius: 4px 0 0 0;
}

.table th:last-child {
    border-radius: 0 4px 0 0;
}

.table tbody td:last-child {
    border-bottom-right-radius: 4px;
}

.table tbody td:first-child {
    border-bottom-left-radius: 4px;
}

.table th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.table td {
    background-color: var(--quaternary-color);
    vertical-align: middle;
}

.headerRow th:first-child {
    width: 400px;
}

.headerRow th:last-child {
    width: 350px;
}

.headerRow th:nth-child(2) {
    width: 150px;
}

.headerRow th:nth-child(3) {
    width: 180px;
}

.row {
    position: relative;
}

.tableDeleteBtn {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    vertical-align: middle;
    z-index: 1;
}

.row::after {
    content: '';
    position: absolute;
    right: -40px;
    display: block;
    width: 40px;
    height: 100%;
}

@media only screen and (min-width: 1080px) {
    .tableDeleteBtn {
        display: none;
    }

    .row:hover .tableDeleteBtn {
        display: flex;
    }
}



@media only screen and (max-width: 1079px) {
    .tableWrapper {
        overflow-x: auto;
    }

}

td.hasInput{
    padding: 0;
}

.table input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--primary-color);
    padding: 16px;
}

.table input::placeholder {
    color: var(--primary-color);
    opacity: 0.6;
}

/* .dropdown {
    width: 100%;
    position: absolute;
    top: 100%;

} */