.container {
    padding: 32px 16px;
    margin-top: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.form-container {
    width: 100%;
    margin-top: 40px;
}

.form-container > * {
    float: left;
    width: calc((100% / 2) - (20px / 2));
}

.form-container::before,
.form-container::after {
    content: '';
    display: table;
    clear: both;
}

.form-container *:nth-child(odd) {
    clear: left;
    margin-right: 20px;
}

.form-container > *:nth-child(n+3) {
    margin-top: 32px;
}